<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%= title %> </title>
</head>
<body>
    <h1>Hubugi kami</h1>
    <p>nama</p>
    <input type="text" name="nama" id="nama">
    <p>no Hp</p>
    <input type="text" name="No_Hp" id="No_Hp">
    <p>Email</p>
    <input type="email" name="email" id="email">

    <button type="button">Kirim</button>

    <br>
    <a href="/">back to home</a>
</body>
</html>